numpy>=1.26,<2
open3d>=0.18.0
pytransform3d
requests
bayesian-optimization>=1.4,<2.0
matplotlib

# PyTorch (PartField)
torch==2.7.0+cu128
torchvision==0.22.0+cu128
torchaudio==2.7.0+cu128
lightning>=2.2

# PartField dependencies
psutil
h5py
yacs
trimesh
scikit-image
loguru
boto3
mesh2sdf
tetgen
pymeshlab
plyfile
einops
libigl
polyscope
potpourri3d
simple_parsing
arrgh
vtk
